<div data-role="page" id="api_explorer">
	<header data-role="header">
		<h1>Moves API Demo</h1>
	</header>
	<div data-role="content">
		<ul data-role="listview">
			<li>
				<a href="/moves/profile" data-transition="fade">User Profile</a>
			</li>
			<li>
				<a href="/moves/recent" data-transition="fade">Recent walking activity</a>
			</li>
			<li>
				<a href="/moves/logout" data-transition="flip">Log out</a>
			</li>
		</ul>
	</div>
</div>
