<div data-role="page">
	<div data-role="header"><h1>Moves API Demo - User Profile</h1></div>
	<div data-role="content">
		<ul data-role="listview" data-inset="true">

		<li>
			User ID <p class="ui-li-aside"><%= @json["userId"] %></p>
		</li>
		<li>
			Date joined <p class="ui-li-aside"><%= format_date(@json["profile"]["firstDate"]) %></p>
		</li>
	</div>
</div>
