<div data-role="page" id="login">
	<header data-role="header">
		<h1>Moves API Demo</h1>
	</header>
	<div data-role="content">
		<div style="text-align: center">
			<p>
				To get started with Moves API Demo you'll need to authorize this app.
			</p>
			<a href="<%= @moves_authorize_uri %>" data-role="button" data-inline="true">Authorize Moves API Demo</a>
		</div>
	</div>
</div>
